<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<title></title>

<body>
    <div class="main-content">
        {{>header}}

        <h2>About {{appName}}, developed by {{developer}}</h2>
        <div>
            <img class="portrait" src="/img/Annika.jpg">
        </div>

    </div>

    {{>footer}}
</body>

</html>