<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<title></title>

<body>
    <div class="main-content">
        {{>header}}

        <h2>Help Weather forecast</h2>
        <p>{{helpText}}</p>
    </div>

    {{>footer}}
</body>

</html>