<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/weather.svg">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <form>
            <input name="weatherLocation" placeholder="Please enter location" />
            <button type="submit">Get Forecast</button>
        </form>

        <p id="successMessage"></p>
        <p id="errorMessage"></p>

    </div>
    {{>footer}}
    <script src="/js/app.js"></script>

</body>

</html>